<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">Numen</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <!-- Clientes -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/clientes/page/0']" *ngIf="isAdmin">Clientes</a>
        </li>
        <!-- Prendas -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/prendas/page/0']" *ngIf="isAdmin">Prendas</a>
        </li>
        <!-- Accesorios -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Accesorios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Joyas</a></li>
            <li><a class="dropdown-item" [routerLink]="['/user']">Bolsos</a></li>
            <li><a class="dropdown-item" [routerLink]="['/admin']">Cinturones</a></li>
          </ul>
        </li>
        <!-- Zapatos -->
        <li class="nav-item">
          <a class="nav-link" href="#">Zapatos</a>
        </li>
        <!-- Marca -->
        <li class="nav-item">
          <a class="nav-link" href="#">Marca</a>
        </li>
        <!-- >Sobre nosotros -->
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre nosotros</a>
        </li>
        <!-- Contacto -->
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
        <!-- Colaboraciones -->
        <li class="nav-item">
          <a class="nav-link" href="#">Colaboraciones</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="button" (click)="onLogin()" *ngIf="!isLogged">Login</button>
        <button class="btn btn-outline-danger" type="button" (click)="onLogout()" *ngIf="isLogged">Logout</button>
      </form>
    </div>
  </div>
</nav>