<div class="card border-primary mb-3" *ngIf="!listaVacia">
  <div class="card-header">Carrito</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Carrito</h5>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 50px;">Imagen</th>
          <th>idCarro</th>
          <th>idPrenda</th>
          <th>Descripcion</th>
          <th>Precio</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carrito of carritoPrendas; let i = index" [class.table-primary]="i % 2 !== 0">
          <td>
            <img *ngIf="carrito?.imagen" 
            src="http://localhost:8080/almacen/prendas/img/{{carrito.imagen}}" alt="{{carrito.imagen}}" class="img-thumbnail rounded"
            style="width: 64px; cursor:pointer;">
            
            <img *ngIf="!carrito?.imagen" 
            src="http://localhost:8080/img/IconoMas.png" class="img-thumbnail rounded"
            style="width: 64px; cursor:pointer;">
          </td>
          <td>{{ carrito.id }}</td>
          <td>{{ carrito.prendaId }}</td>
          <td>{{ carrito.descripcion }}</td>
          <td>{{ carrito.precio }}</td>
          <td>
            <button type="button" name="eliminar" (click)='delete(carrito.prendaId)'
              class="btn btn-danger btn-sm">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>total: {{ total}}</p>
  <button type="button" name="editar" [routerLink]="['/finPedido']" class="btn btn-primary btn-sm">Fin Pedido</button>
</div>
