<div class="card border-primary mb-3">
  <div class="card-header">Pedidos</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de pedidos</h5>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th *ngIf="isAdmin">Cliente</th>
          <th>Total</th>
          <th>Descripcion</th>
          <th>Metodo De Pago</th>
          <th>Direccion</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of misPedidos; let i = index" [class.table-primary]="i % 2 !== 0">
          <td *ngIf="isAdmin">{{ pedido.email }}</td>          
          <td>{{ pedido.total }}</td>
          <td>{{ pedido.descripcionFactura }}</td>
          <td>{{ pedido.metodoPago }}</td>
          <td>{{ pedido.direccion }}</td>
          <td>{{ pedido.date | date:'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
