<div class="custom-box d-flex flex-column position-relative">
    <div class="d-flex flex-grow-1">
        <div class="flex-container" style="flex: 1 0 66%;">
            <div class="div-img col-12 col-lg-3">
                <img class="custom-image" [src]="primeraFoto(carrito)" alt="{{ carrito.imagenes }}" [class.sold]="carrito.vendido"> 
            </div>
            <div class="info-container">
                <div class="sold-text" *ngIf="carrito.vendido">Producto agotado</div>
                <p *ngIf="!carrito.vendido">{{carrito.nombre}}</p>
                <div *ngIf="!carrito.vendido">
                    <span class="original-price">Precio: {{ carrito.precioConDescuento }} €</span>
                    <span class="precio-tachado" *ngIf="carrito.precioOriginal!=carrito.precioConDescuento">{{ carrito.precioOriginal }} €</span>
                </div>
            </div>
        </div>
    </div>
    <div class="position-absolute top-0 end-0 mt-2 me-2">
        <button type="button" class="btn-close btn-close-black" aria-label="Close" (click)="delete(carrito.prendaId)"></button>
    </div>
</div>
