
<body class="">

    <!-- Navbar -->
    <!-- Navbar -->
    <nav
        class="navbar navbar-expand-lg navbar-light bg-white border-bottom mx-0 p-0 flex-column  ">
        <div class="w-100 pb-lg-0 pt-lg-0 pt-4 pb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center flex-wrap">
    
                <!-- Logo-->
                <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0" href="./index.html">
                    <!-- Start of Logo-->
                    <div class="d-flex align-items-center">
                        <div class="f-w-6 d-flex align-items-center me-2 lh-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 194 194"><path fill="currentColor" class="svg-logo-white" d="M47.45,60l1.36,27.58,53.41-51.66,50.87,50,3.84-26L194,100.65V31.94A31.94,31.94,0,0,0,162.06,0H31.94A31.94,31.94,0,0,0,0,31.94v82.57Z"/><path fill="currentColor" class="svg-logo-dark" d="M178.8,113.19l1,34.41L116.3,85.92l-14.12,15.9L88.07,85.92,24.58,147.53l.93-34.41L0,134.86v27.2A31.94,31.94,0,0,0,31.94,194H162.06A31.94,31.94,0,0,0,194,162.06V125.83Z"/></svg>
                        </div> <span class="fs-5">Alpine</span>
                    </div>
                    <!-- / Logo-->
                    
                </a>
                <!-- / Logo-->
    
                <!-- Main Navigation-->
                <div class="ms-5 flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1" id="navbarNavDropdown">
    
                    <!-- Mobile Nav Toggler-->
                    <button
                        class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 position-absolute top-0 end-0 mt-3 me-2"
                        data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ri-close-circle-line ri-2x"></i>
                    </button>
                    <!-- / Mobile Nav Toggler-->
    
                    <ul class="navbar-nav py-lg-2 mx-auto">
                        <li class="nav-item me-lg-4 dropdown position-static">
                            <a class="nav-link fw-bolder dropdown-toggle py-lg-4" href="#" role="button" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Menswear
                            </a>
                            <!-- Menswear dropdown menu-->
                            <div class="dropdown-menu dropdown-megamenu">
                                <div class="container">
                                    <div class="row g-0">
                                        <!-- Dropdown Menu Links Section-->
                                        <div class="col-12 col-lg-7">
                                            <div class="row py-lg-5">
                                            
                                                <!-- menu row-->
                                                <div class="col col-lg-6 mb-5 mb-sm-0">
                                                    <h6 class="dropdown-heading">Waterproof Layers</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Waterproof
                                                                Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Insulated
                                                                Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Down
                                                                Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Softshell
                                                                Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Casual
                                                                Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Windproof
                                                                Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Breathable
                                                                Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Cleaning &
                                                                Proofing</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all"
                                                                href="./category.html">View All</a></li>
                                                    </ul>
                                            
                                                </div>
                                                <!-- /menu row-->
                                            
                                                <!-- menu row-->
                                                <div class="col col-lg-6">
                                                    <h6 class="dropdown-heading">Brands</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Lifestyle &
                                                                Casual</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Walking
                                                                Shoes</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Running
                                                                Shoes</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Military
                                                                Boots</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Fabric Walking
                                                                Boots</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Leather
                                                                Walking Boots</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Wellies</a>
                                                        </li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Winter
                                                                Footwear</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all"
                                                                href="./category.html">View All</a></li>
                                                    </ul>
                                                </div>
                                                <!-- /menu row-->
                                            
                                            </div>                    </div>
                                        <!-- /Dropdown Menu Links Section-->
                    
                                        <!-- Dropdown Menu Images Section-->
                                        <div class="d-none d-lg-block col-lg-5">
                                            <div class="vw-50 h-100 bg-img-cover bg-pos-center-center position-absolute" style="background-image: url(./assets/images/banners/banner-2.jpg);"></div>
                                        </div>
                                        <!-- Dropdown Menu Images Section-->
                                    </div>
                                </div>
                            </div>
                            <!-- / Menswear dropdown menu-->
                        </li>
                        <li class="nav-item me-lg-4 dropdown position-static">
                            <a class="nav-link fw-bolder dropdown-toggle py-lg-4" href="#" role="button" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Womenswear
                            </a>
                            <!-- Womenswear dropdown menu-->
                            <div class="dropdown-menu dropdown-megamenu">
                                <div class="container">
                                    <div class="row g-0">
                                        <!-- Dropdown Menu Links Section-->
                                        <div class="col-12 col-lg-7">
                                            <div class="row py-lg-5">
                                            
                                                <!-- menu row-->
                                                <div class="col col-lg-6 mb-5 mb-sm-0">
                                                    <h6 class="dropdown-heading">Waterproof Layers</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Waterproof
                                                                Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Insulated
                                                                Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Down
                                                                Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Softshell
                                                                Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Casual
                                                                Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Windproof
                                                                Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Breathable
                                                                Jackets</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Cleaning &
                                                                Proofing</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all"
                                                                href="./category.html">View All</a></li>
                                                    </ul>
                                            
                                                </div>
                                                <!-- /menu row-->
                                            
                                                <!-- menu row-->
                                                <div class="col col-lg-6">
                                                    <h6 class="dropdown-heading">Brands</h6>
                                                    <ul class="list-unstyled">
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Lifestyle &
                                                                Casual</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Walking
                                                                Shoes</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Running
                                                                Shoes</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Military
                                                                Boots</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Fabric Walking
                                                                Boots</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Leather
                                                                Walking Boots</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Wellies</a>
                                                        </li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Winter
                                                                Footwear</a></li>
                                                        <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all"
                                                                href="./category.html">View All</a></li>
                                                    </ul>
                                                </div>
                                                <!-- /menu row-->
                                            
                                            </div>                    </div>
                                        <!-- /Dropdown Menu Links Section-->
                    
                                        <!-- Dropdown Menu Images Section-->
                                        <div class="d-none d-lg-block col-lg-5">
                                            <div class="vw-50 h-100 bg-img-cover bg-pos-center-center position-absolute" style="background-image: url(./assets/images/banners/banner-4.jpg);"></div>
                                        </div>
                                        <!-- Dropdown Menu Images Section-->
                                    </div>
                                </div>
                            </div>
                            <!-- / Womenswear dropdown menu-->
                        </li>
                        <li class="nav-item me-lg-4">
                            <a class="nav-link fw-bolder py-lg-4" href="#">
                                Kidswear
                            </a>
                        </li>
                        <li class="nav-item me-lg-4">
                            <a class="nav-link fw-bolder py-lg-4" href="#">
                                Sale Items
                            </a>
                        </li>
                        <li class="nav-item dropdown me-lg-4">
                            <a class="nav-link fw-bolder dropdown-toggle py-lg-4" href="#" role="button" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Demo Pages
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./index.html">Homepage</a></li>
                                <li><a class="dropdown-item" href="./category.html">Category</a></li>
                                <li><a class="dropdown-item" href="./product.html">Product</a></li>
                                <li><a class="dropdown-item" href="./cart.html">Cart</a></li>
                                <li><a class="dropdown-item" href="./checkout.html">Checkout</a></li>
                              </ul>
                        </li>
                    </ul>            </div>
                <!-- / Main Navigation-->
    
                <!-- Navbar Icons-->
                <ul class="list-unstyled mb-0 d-flex align-items-center">
    
                    <!-- Navbar Toggle Icon-->
                    <li class="d-inline-block d-lg-none">
                        <button
                            class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 d-flex align-items-center"
                            data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="ri-menu-line ri-lg align-middle"></i>
                        </button>
                    </li>
                    <!-- /Navbar Toggle Icon-->
    
                    <!-- Navbar Search-->
                    <li class="ms-1 d-inline-block">
                        <button
                            class="btn btn-link px-2 text-decoration-none d-flex align-items-center"
                            data-pr-search>
                            <i class="ri-search-2-line ri-lg align-middle"></i>
                        </button>
                    </li>
                    <!-- /Navbar Search-->
    
                    <!-- Navbar Wishlist-->
                    <li class="ms-1 d-none d-lg-inline-block">
                        <a class="btn btn-link px-2 py-0 text-decoration-none d-flex align-items-center"
                            href="#">
                            <i class="ri-heart-line ri-lg align-middle"></i>
                        </a>
                    </li>
                    <!-- /Navbar Wishlist-->
    
                    <!-- Navbar Login-->
                    <li class="ms-1 d-none d-lg-inline-block">
                        <a class="btn btn-link px-2 text-decoration-none d-flex align-items-center"
                            href="#">
                            <i class="ri-user-line ri-lg align-middle"></i>
                        </a>
                    </li>
                    <!-- /Navbar Login-->
    
                    <!-- Navbar Cart-->
                    <li class="ms-1 d-inline-block position-relative">
                        <button
                            class="btn btn-link px-2 text-decoration-none d-flex align-items-center disable-child-pointer"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                            <i class="ri-shopping-cart-2-line ri-lg align-middle position-relative z-index-10"></i>
                            <span
                                class="fs-xs fw-bolder f-w-5 f-h-5 bg-orange rounded-lg d-block lh-1 pt-1 position-absolute top-0 end-0 z-index-20 mt-2 text-white">2</span>
                        </button>
                    </li>
                    <!-- /Navbar Cart-->
    
                </ul>
                <!-- Navbar Icons-->
    
            </div>
        </div>
    </nav>
    <!-- / Navbar-->    <!-- / Navbar-->

    <!-- Main Section-->
    <section class="mt-5 ">
        <!-- Page Content Goes Here -->

        <!-- Product Top-->
        <section class="container">

            <!-- Breadcrumbs-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Activities</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Clothing</li>
                </ol>
            </nav>            <!-- /Breadcrumbs-->

            <div class="row g-5">

                <!-- Images Section-->
                <div class="col-12 col-lg-7">
                    <div class="row g-1">
                        <div class="swiper-container gallery-thumbs-vertical col-2 pb-4">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide bg-light bg-light h-auto">
                                <picture>
                                    <img class="img-fluid mx-auto d-table" src="./assets/images/products/product-5.jpg" alt="Bootstrap 5 Template by Pixel Rocket">
                                </picture>
                              </div>
                              <div class="swiper-slide bg-light bg-light h-auto">
                                  <picture>
                                    <img class="img-fluid mx-auto d-table" src="./assets/images/products/product-5b.jpg" alt="Bootstrap 5 Template by Pixel Rocket">
                                </picture>
                              </div>
                              <div class="swiper-slide bg-light bg-light h-auto">
                                  <picture>
                                    <img class="img-fluid mx-auto d-table" src="./assets/images/products/product-5c.jpg" alt="Bootstrap 5 Template by Pixel Rocket">
                                </picture>
                              </div>
                            </div>
                          </div>
                          <div class="swiper-container gallery-top-vertical col-10">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide bg-white h-auto">
                                    <picture>
                                        <img class="img-fluid d-table mx-auto" src="./assets/images/products/product-5.jpg" alt="Bootstrap 5 Template by Pixel Rocket" data-zoomable>
                                    </picture>
                                </div>
                                <div class="swiper-slide bg-white h-auto">
                                    <picture>
                                      <img class="img-fluid d-table mx-auto" src="./assets/images/products/product-5b.jpg" alt="Bootstrap 5 Template by Pixel Rocket" data-zoomable>
                                  </picture>
                                </div>
                                <div class="swiper-slide bg-white h-auto">
                                    <picture>
                                      <img class="img-fluid d-table mx-auto" src="./assets/images/products/product-5c.jpg" alt="Bootstrap 5 Template by Pixel Rocket" data-zoomable>
                                  </picture>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
                <!-- /Images Section-->

                <!-- Product Info Section-->
                <div class="col-12 col-lg-5">
                    <div class="pb-3">
                    
                        <!-- Product Name, Review, Brand, Price-->
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="small fw-bolder text-uppercase tracking-wider text-muted mb-0 lh-1">Billabong</p>
                            <div class="d-flex justify-content-start align-items-center">
                                <!-- Review Stars Small-->
                                <div class="rating position-relative d-table">
                                    <div class="position-absolute stars" style="width: 80%">
                                        <i class="ri-star-fill text-dark mr-1"></i>
                                        <i class="ri-star-fill text-dark mr-1"></i>
                                        <i class="ri-star-fill text-dark mr-1"></i>
                                        <i class="ri-star-fill text-dark mr-1"></i>
                                        <i class="ri-star-fill text-dark mr-1"></i>
                                    </div>
                                    <div class="stars">
                                        <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                        <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                        <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                        <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                        <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                    </div>
                                </div>            <small class="text-muted d-inline-block ms-2 fs-bolder">(1288)</small>
                            </div>
                        </div>
                        <h1 class="mb-2 fs-2 fw-bold">Coastline Plus Waterproof Stormbreaker</h1>
                        <div class="d-flex justify-content-start align-items-center">
                            <p class="lead fw-bolder m-0 fs-3 lh-1 text-danger me-2">$84.99</p>
                            <s class="lh-1 me-2"><span class="fw-bolder m-0">$94.99</span></s>
                            <p class="lead fw-bolder m-0 fs-6 lh-1 text-success">Save $10.00</p>
                        </div>
                        <!-- /Product Name, Review, Brand, Price-->
                    
                        <!-- Product Views-->
                        <div class="d-flex justify-content-start mt-3">
                            <div class="alert bg-light rounded py-1 px-2 d-table m-0">
                                <div class="d-flex justify-content-start align-items-center">
                                    <i class="ri-fire-fill lh-1 text-orange"></i>
                                    <div class="ms-2">
                                        <small class="opacity-75 fw-bolder lh-1">167 views today</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Product Views-->
                    
                        <!-- Product Options-->
                        <div class="border-top mt-4 mb-3">
                            <div class="product-option mb-4 mt-4">
                                <small class="text-uppercase d-block fw-bolder mb-2">
                                    Colour : <span class="selected-option fw-bold">Crimson Blue</span>
                                </small>
                                <div class="d-flex justify-content-start">
                                    <div class="form-group d-inline-block mr-1 mb-1 form-check-solid-bg-checkmark form-check-custom">
                                        <input type="radio" class="form-check-color-input" id="option-colour-1" name="option-colour"
                                            value="Dark Black">
                                        <label class="form-check-label" for="option-colour-1"></label>
                                    </div>
                                    <div
                                        class="form-group d-inline-block mr-1 mb-1 form-check-solid-bg-checkmark form-check-custom form-check-warning">
                                        <input type="radio" class="form-check-color-input" id="option-colour-2" name="option-colour"
                                            value="Sun Yellow">
                                        <label class="form-check-label" for="option-colour-2"></label>
                                    </div>
                                    <div
                                        class="form-group d-inline-block mr-1 mb-1 form-check-solid-bg-checkmark form-check-custom form-check-info">
                                        <input type="radio" class="form-check-color-input" id="option-colour-3" name="option-colour"
                                            value="Crimson Blue" checked>
                                        <label class="form-check-label" for="option-colour-3"></label>
                                    </div>
                                    <div
                                        class="form-group d-inline-block mr-1 mb-1 form-check-solid-bg-checkmark form-check-custom form-check-danger">
                                        <input type="radio" class="form-check-color-input" id="option-colour-4" name="option-colour"
                                            value="Cherry Red">
                                        <label class="form-check-label" for="option-colour-4"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="product-option">
                                <small class="text-uppercase d-block fw-bolder mb-2">
                                    Size (UK) : <span class="selected-option fw-bold"></span>
                                </small>
                                <div class="form-group">
                                    <select name="selectSize" class="form-control" data-choices>
                                        <option value="">Please Select Size</option>
                                        <option value="Extra Small">XS</option>
                                        <option value="Medium">M</option>
                                        <option value="Large">L</option>
                                        <option value="Extra Large">XL</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /Product Options-->
                    
                        <!-- Add To Cart-->
                        <div class="d-flex justify-content-between mt-3">
                            <button class="btn btn-dark btn-dark-chunky btn-add-to-cart flex-grow-1 me-2 text-white position-relative">

                                <!-- Default state -->
                                <span class="btn-state state-default">Add To Cart</span>
                                
                                <!-- Adding state -->
                                <span class="btn-state state-adding">
                                    <span class="animation-ellipsis">
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                    </span>
                                    Adding, please wait
                                </span>     

                                <!-- Added state -->
                                <span class="btn-state state-added">
                                    <span class="checkmark-wrapper">
                                        <span class="checkmark"></span>
                                    </span>
                                    Added To Cart!
                                </span>                                  
                            </button>
                            <button class="btn btn-orange btn-orange-chunky"><i class="ri-heart-line"></i></button>
                        </div>
                        <!-- /Add To Cart-->
                    
                        <!-- Socials-->
                        <div class="my-4">
                            <div class="d-flex justify-content-start align-items-center">
                                <p class="fw-bolder lh-1 mb-0 me-3">Share</p>
                                <ul class="list-unstyled p-0 m-0 d-flex justify-content-start lh-1 align-items-center mt-1">
                                    <li class="me-2"><a class="text-decoration-none" href="#" role="button"><i class="ri-facebook-box-fill"></i></a></li>
                                    <li class="me-2"><a class="text-decoration-none" href="#" role="button"><i class="ri-instagram-fill"></i></a></li>
                                    <li class="me-2"><a class="text-decoration-none" href="#" role="button"><i class="ri-pinterest-fill"></i></a></li>
                                    <li class="me-2"><a class="text-decoration-none" href="#" role="button"><i class="ri-twitter-fill"></i></a></li>
                                </ul>
                            </div>    </div>
                        <!-- Socials-->
                    
                        <!-- Special Offers-->
                        <div class="bg-light rounded py-2 px-3">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex border-0 px-0 bg-transparent">
                                    <i class="ri-truck-line"></i>
                                    <span class="fs-6 ms-3">Standard delivery free for orders over $99. Next day delivery $9.99</span>
                                </li>
                            </ul>
                        </div>
                        <!-- /Special Offers-->
                    
                    </div>                </div>
                <!-- / Product Info Section-->
            </div>
        </section>
        <!-- / Product Top-->
