<app-detalle *ngIf="prendaSeleccionada" [prenda]="prendaSeleccionada"></app-detalle>
<div class="card border-primary mb-3">
  <div class="card-header">Prendas</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de prendas</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/prendas/crearPrenda']">
        Registrar Prenda
      </button>
    </div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 50px;">Imagen</th>
          <th>id</th>
          <th>Tipo</th>
          <th>Talla</th>
          <th>Color</th>
          <th>Descripcion</th>
          <th>Precio</th>
          <th>Vendido</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prenda of prendas; let i = index" [class.table-primary]="i % 2 !== 0">
          <td>
              <img (click)="abrirModal(prenda)" [src]="primeraFoto(prenda)" alt="{{ prenda.fotos }}"
                class="img-thumbnail rounded" style="width: 64px; cursor:pointer;">          
          </td>
          <td>{{ prenda.id }}</td>
          <td>{{ prenda.tipo}}</td>
          <td>{{ prenda.talla }}</td>
          <td>{{ prenda.color }}</td>
          <td>{{ prenda.descripcion }}</td>
          <td>{{ prenda.precio }}</td>
          <td>{{ prenda.vendido }}</td>
          <td>{{ prenda.createAt }}</td>
          <td style="width: 13%">
            <a class="btn btn-primary" [routerLink]="['/prendas/crearPrenda', prenda.id]">Editar</a> |
            <a class="btn btn-danger" (click)='delete(prenda)'>Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginator" [paginator]="paginator" tipo="prendas"></paginator-nav>
  </div>
</div>